.App {
  display: grid;
  

}

.search {
  width: 300px;
  
  
}

.navBar {
  
  text-align: center;
  background-color: khaki;

}
.panel {
  height: 1000px;
  border: solid black;
  padding-left: 40px;
  padding-top: 40px;
  background-color: black;
}
.search-bar {
  display: flex;
  margin-left: 60%;
  margin-top: 5%;
}

.s {
  margin-left: 0;
}